<li class="step <%= status_class(step_item) %>">
  <%= hidden_field_tag "step_ids[]", step_item.id %>
  <div class="tool_link" onclick="l=jQuery('#step_link_<%= step_item.id%>'); if(l.length) window.location = l.first().attr('href');">
    <div class="position"><%= step_item.hidden ? '' : step_item.position %></div>
    <div class="content">
      <div class="date">
        <%= show_period(step_item.start_date, step_item.end_date) %>
      </div>
      <div class="legend">
        <%= status_description(step_item) %>
      </div>
      <div class="name"><span class="tool_icon button with-text icon-new icon-new<%= step_item.tool_class.icon_name if step_item.tool_class %>"></span>  <%= step_item.name %></div>
      <div class="lead"><%= step_item.body %></div>
      <div class="tools">
        <% if step_item.tool %>
          <%= _('Tool: ') %>

          <%= link_to_step(step_item, {:id => "step_link_#{step_item.id}"}) do %>
            <%= step_item.tool.name %>
          <% end %>

        <% elsif step_item.allow_create?(user) && step_item.tool_class %>
          <a id="step_link_<%= step_item.id %>" href="<%= url_for({:controller => 'cms', :action => 'new', :type => step_item.tool_class, :parent_id => step_item, :success_back_to => url_for(step_item.parent.view_url)}) %>" class="button icon-new with-text icon-new<%= step_item.tool_class.icon_name %>"><%= _('Create %s' % step_item.tool_class.short_description) %></a>
        <% else %>
          <%= link_to_step(step_item, {:id => "step_link_#{step_item.id}"}, '') %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="step_actions">
    <% if step_item.allow_edit?(user) && !remove_content_button(:edit) %>
      <%= button('eyes', _('View'), step_item.url) %>
      <% content = content_tag('span', label_for_edit_article(step_item)) %>
      <% url = profile.admin_url.merge({ :controller => 'cms', :action => 'edit', :id => step_item.id, :success_back_to => url_for(step_item.parent.view_url) }) %>
      <%= expirable_button step_item, :edit, content, url %>
    <% end %>
    <% if step_item.accept_uploads? && step_item.allow_create?(user) %>
      <%= button('upload-file', _('Upload files'), profile.admin_url.merge(:controller => 'cms', :action => 'upload_files', :parent_id => step_item)) unless remove_content_button(:upload)%>
    <% end %>
  </div>
</li>
