<%= error_messages_for :bsc %>
<h1><%= _('BSC registration') %></h1>

<%= labelled_form_for :profile_data, @bsc do |f| %>
  <%= render :partial => 'shared/fields', :locals => {:f => f, :profile => @bsc} %>

  <% button_bar do %>
    <%= submit_button('save', _('Save')) %>
    <%= button('cancel', _('Cancel'), {:controller => 'admin_panel'}) %>
  <% end %>
<% end %>
