<div class='text-editor-sidebar'>
  <span class='button-add' data-value='<%= _('Add to the text') %>'></span>
  <span class='button-zoom' data-value='<%= _('Zoom in') %>'></span>
  <span class='button-close' data-value='<%= _('Close') %>'></span>

  <%= render(:partial => 'textile_quick_reference') if @article.is_a?(TextileArticle) %>
  <div class='text-editor-sidebar-box' id='media-upload-box'>
    <div class='header'><strong><%= _('Insert media') %></strong></div>
    <div id='media-upload-form'>
      <%= form_tag({ :action => 'media_upload' }, :multipart => true) do %>
        <div class='formfield'>
          <% default_folder = content_id_to_str default_folder_for_image_upload(profile) %>
          <%= select_profile_folder(
                _('Choose folder to upload files:'),
                :parent_id, profile, default_folder, {}, {},
                "type='Folder' or type='Gallery'"
          ) %>
        </div>
        <p><%= file_field_tag('file1') %></p>
        <p><%= file_field_tag('file2') %></p>
        <p><%= file_field_tag('file3') %></p>
        <% button_bar do %>
          <%= submit_button(:save, _('Upload')) %>
        <% end %>
      <% end %>
    </div>
    <div id='media-upload-results' style='display: none'>
      <%= render :partial => 'drag_and_drop_note' %>
      <div class='items'>
      </div>
      <p><%= link_to(_('Upload more files ...'), '#', :id => 'media-upload-more-files')%></p>
    </div>
  </div>
  <div id='media-search-box' class='text-editor-sidebar-box'>
    <div class='header'><strong><%= _('Media search') %></strong></div>
    <p>
    <%= form_tag({ :action => 'search' }) do %>
      <span class='formfield'>
        <input name='q' type='text' id='media-search-query' style='width: 250px;'/>
      </span>
      <%= submit_button :search, _('Search'), :id => 'media-search-button' %>
    <% end %>
    </p>
    <div id='media-search-results' style='display: none'>
      <%= render :partial => 'drag_and_drop_note' %>
      <div class='items'>
      </div>
    </div>
  </div>
</div>


