<h1><%= _("Ldap Management") %> </h1>

<%= labelled_form_for(:environment, :url => {:action => 'update'}) do |f| %>

<table>
  <tr>
    <th><%= _('Configuration') %></th>
    <th><%= _('Value') %></th>
  </tr>
  <tr>
    <td><%= _('Host') %></td>
    <td><%= text_field :environment, :ldap_plugin_host %></td>
  </tr>
  <tr>
    <td><%= _('Port') %></td>
    <td><%= text_field :environment, :ldap_plugin_port %></td>
  </tr>
  <tr>
    <td><%= _('Account') %></td>
    <td><%= text_field :environment, :ldap_plugin_account %></td>
  </tr>
  <tr>
    <td><%= _('Account Password') %></td>
    <td><%= password_field  :environment, :ldap_plugin_account_password %></td>
  </tr>
  <tr>
    <td><%= _('Base DN') %></td>
    <td><%= text_field :environment, :ldap_plugin_base_dn %></td>
  </tr>
  <tr>
    <td><%= _('LDAP Filter') %></td>
    <td><%= text_field :environment, :ldap_plugin_filter %></td>
  </tr>
  <tr>
    <td><%= _('On the fly creation') %></td>
    <td><%= check_box :environment, :ldap_plugin_onthefly_register, {}, '1', '0' %></td>
  </tr>
  <tr>
    <td><%= _('LDAPS') %></td>
    <td><%= check_box :environment, :ldap_plugin_tls, {}, '1', '0' %></td>
  </tr>
</table>

<table>
  <tr>
    <th colspan='2'> <%= _('Attributes') %> </th>
  </tr>
  <tr>
    <td><%= _('Login') %></td>
    <td><%= text_field :environment, :ldap_plugin_attr_login %></td>
  </tr>
  <tr>
    <td><%= _('Fullname') %></td>
    <td><%= text_field :environment, :ldap_plugin_attr_fullname %></td>
  </tr>
  <tr>
    <td><%= _('Mail') %></td>
    <td><%= text_field :environment, :ldap_plugin_attr_mail %></td>
  </tr>
</table>

<div>
  <% button_bar do %>
    <%= submit_button('save', _('Save changes')) %>
    <%= button :back, _('Back to plugins administration panel'), :controller => 'plugins' %>
  <% end %>
</div>

<% end %>
