<% if errors %>
  <%= render_dialog_error_messages 'product' %>
<% end %>

<%= remote_form_for(@product,
                   :loading => "small_loading('product-info-form')",
                   :update => 'product-info',
                   :url => {:controller => 'manage_products', :action => 'edit', :id => @product, :field => 'info'},
                   :html => {:id => 'product-info-form', :method => 'post'}) do |f| %>

  <table>
    <tr>
      <td><%= f.label :price, _('Price (%s)') % environment.currency_unit, :class => 'formlabel' %></td>
      <td class='formfield'><%= f.text_field(:price, :value => @product.formatted_value(:price), :class => 'numbers-only') %></td>
    </tr>
    <tr>
      <td><%= f.label :discount, _('Discount (%s)') % environment.currency_unit, :class => 'formlabel' %></td>
      <td class='formfield'><%= f.text_field(:discount, :value => @product.formatted_value(:discount), :class => 'numbers-only', :title => _('If your product is on sale, fill this field with the discount value')) %></td>
    </tr>
    <tr>
      <td class='formlabel'><%= _('Available') %></td>
      <td class='formfield'><%= labelled_radio_button( _('Yes'), 'product[available]', true, @product.available, :id => 'product_available') + labelled_radio_button( _('No'), 'product[available]', false, !@product.available) %></td>
    </tr>
    <tr>
      <td><%= f.label :highlighted, _('Highlight this product?'), :class => 'formlabel' %></td>
      <td class='formfield'><%= f.check_box(:highlighted) %></td>
    </tr>
  </table>

  <% if !environment.qualifiers.empty? %>
    <table id='product-qualifiers-list'>
      <tr>
        <th><%= _('Qualifier') %></th>
        <th><%= _('Certifier') %></th>
      </tr>
      <% @product.qualifiers.each_with_index do |qualifier, index| %>
      <tr>
        <td>
          <%= select_qualifiers(@product, qualifier.id) %>
        </td>
        <td id='certifier-area-<%= index %>'>
          <%= select_certifiers(qualifier, @product) + remove_qualifier_button %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= button_to_function(
      :add,
      _('Add new qualifier'),
      "new_qualifier_row('#product-qualifiers-list', '#{escape_javascript(select_qualifiers(@product))}', '#{escape_javascript(remove_qualifier_button)}')"
    ) %>
    <%= hidden_field_tag "product[qualifiers_list][nil]" %>
  <% end %>

  <%= hidden_field_tag 'info-bar-update-url', @product.price_composition_bar_display_url, :class => 'bar-update-url' %>

  <% button_bar do %>
    <%= submit_button :save, _('Save') %>
    <%= cancel_edit_product_link(@product, 'info') %>
  <% end %>
<% end %>

<%= render :partial => 'shared/numbers_only_javascript' %>
