<h1><%= _('AntiSpam settings')%></h1>

<%= form_for(:settings) do |f| %>

  <%= labelled_form_field _('Host'), f.text_field(:host) %>

  <%= labelled_form_field _('API key'), f.text_field(:api_key, :size => 40) %>

  <% button_bar do %>
    <%= submit_button(:save, _('Save'), :cancel => {:controller => 'plugins', :action => 'index'}) %>
  <% end %>

<% end %>

