<h3><%= _("%s's wall") % @profile.name %></h3>
<div id='leave_scrap'>
  <%= flash[:error] %>
  <%= form_remote_tag :url => {:controller => 'profile', :action => 'leave_scrap', :tab_action => 'wall' }, :update => 'profile_activities', :success => "$('leave_scrap_content').value=''", :complete => "jQuery('#leave_scrap_form').removeClass('loading').find('*').attr('disabled', false)", :loading => "jQuery('#leave_scrap_form').addClass('loading').find('*').attr('disabled', true)", :html => {:id => 'leave_scrap_form' } do %>
    <%= limited_text_area :scrap, :content, 420, 'leave_scrap_content', :cols => 50, :rows => 2, :class => 'autogrow' %>
    <%= submit_button :new, _('Share') %>
  <% end %>
</div>
<div id='leave_scrap_response'></div>
<ul id='profile_activities' class='profile-activities'>
  <%= render :partial => 'profile_activities_list', :locals => {:activities => @activities} %>
</ul>
